body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("https://images.pexels.com/photos/880687/pexels-photo-880687.jpeg?cs=srgb&dl=black-and-white-black-background-colors-880687.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
}
@media only screen and (max-width: 400px) {
    body {
        background-image: url("https://images.unsplash.com/photo-1533206601904-1a399c3479ce?ixlib=rb-0.3.5&s=b62777084c5fd187e8b70b2f4e581ce9&auto=format&fit=crop&w=634&q=80");
    }
}

html{
    height: 100%; 
    width: 100%;
}

.login{
    width: 200px;
    top: 50%;
    left: 50%;
    position: absolute;
    color: white;
    transform: translate(-50%,-50%);

}

.login h1{
    font-size: 40px;
    float: left;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0px;

}


.text-area{
    width: 100%;
    overflow: hidden;
    font-style: 20px;
    padding: 8px 0;
    margin: 8px 0px;
    border-bottom: 1px solid #4caf50;
    color: white;

}


.text-area i{
    width: 26px;
    float: left;
    text-align: center;
}

.text-area input {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    float: left;
}

.btn{
    width: 100%;
    background: transparent;
    border: 2px solid #4caf50;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}